<%- include ('partials/header.ejs') %>
<div id="homepage">
    <div class="content">
        <header>
            <img src="/assets/sharklogo.svg" alt="SharkCode logo">
        </header>
        <main>
            <div class="headline">
                <h1>Seu site personalizado com um click...</h1>
                <a href="#"><strong>Click</strong></a>
            </div>
            <div class="socialmedia">
                <a href="#"><img src="/assets/linkedin.svg" alt="Linkedin"></a>
                <a href="#"><img src="/assets/github.svg" alt="Github"></a>
                <a href="#"><img src="/assets/instagram.svg" alt="Instagram"></a>
                <a href="#"><img src="/assets/facebook.svg" alt="facebook"></a>
            </div>
        </main>
    </div>
    <footer>
        <img src="/assets/leftwave.svg">
        <img src="/assets/rightwave.svg">
    </footer>
</div>    
<%- include ('partials/footer.ejs') %>