<%- include ('partials/header.ejs') %>
<section id="page-home">
    <div class="content">
        <header>
            <img src="/assets/sharklogo.svg" alt="SharkCode logo">
        </header>
        <main>
            <div class="headline">
                <h1>Seu site personalizado com um click...</h1>
                <a href="#"><strong>Click</strong></a>
            </div>
            <div class="socialmedia">
                <a href="#"><img src="/assets/linkedin.svg" alt="Linkedin"></a>
                <a href="#"><img src="/assets/github.svg" alt="Github"></a>
                <a href="#"><img src="/assets/instagram.svg" alt="Instagram"></a>
                <a href="#"><img src="/assets/facebook.svg" alt="Facebook"></a>
            </div>
        </main>
    </div>
    <div id="footer"></div>
    <div id="division"></div>
    <!-- <div id="wave"></div> -->
</section>
<%- include ('info.ejs') %>
<%- include ('partials/footer.ejs') %>