 <section id="info">
    <div class="content">
        <nav>
            <a href="#"><img src="/assets/home.svg" alt="Home">Home</a>
            <a href="#"><img src="/assets/book.svg" alt="Sobre">Sobre</a>
            <a href="#"><img src="/assets/clipboard.svg" alt="Serviços">Serviços</a>
            <a href="#"><img src="/assets/phone.svg" alt="Contato">Contato</a>
        </nav>
        <h2>Somos uma Empresa Júnior de Jovens Empreendedores.</h2>
        <div id="whats-position">
            <img src="/assets/whatsapp.svg" alt="WhatsApp">
        </div>
        <div class="first-screen">
            <div class="pillars">
                <h3>Nossos pilares</h3>
                <div id="first-pillar">
                    <div id="green-circle"><img src="/assets/handshaking.svg"></div>
                    <p>Comprometimento - Nos comprometemos em trazer resultados e satisfação para os nossos clientes.</p>
                </div>
                <div id="second-pillar">
                    <div id="green-circle"><img src="/assets/handshaking.svg"></div>
                    <p>Sinergia - Conectamos ideias e pensamentos da nossa equipe com os dos nossos cliente com relações constantes e feedbacks rápidos.</p>
                </div>
                <div id="third-pillar">
                    <div id="green-circle"><img src="/assets/handshaking.svg"></div>
                    <p>Aprendizado - Sempre Estamos aprendendo para Entregar soluções melhores e que tragam mais resultado para os nossos cliente.</p>
                </div>
            </div>
            <div id="quote">
                <h4>“Entregamos projetos com qualidade e pensando sempre na sua experiência”</h4>
            </div>
        </div>

    </div>
 </section>