.contact {
    position: relative;
    
    display: flex;
    height: 1300px;
    width: 100%;
    margin-top: 200px;

    background-image: url("../assets/circle_form.svg");
    background-repeat: no-repeat;
    background-size: 1000px;

    align-items: center;
    justify-content: space-between;
}

.contact .contact-header {
    width: auto;
    margin-left: 100px;
}

.contact .contact-header #circle-background {
    display: block;
    flex-direction: column;
    width: 650px;
}

h2 {
    width: 540px;
    font-size: 72px;
    color: var(--primary-color);
    margin-bottom: 43px;
    text-transform: uppercase;
}

h3 {
    width: 540px;
    font-size: 36px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
}

.contact-form {
    position: relative;
    width: 450px;
    height: auto;
    padding-top: 35px;
    margin-right: 100%;
    
    background: #FFFFFF;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.contact-form .form-info { 
    height: auto;
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: none;   
}

.contact-form .form-info legend {
    width: auto;
    font-weight: bold;
    font-size: 36px;
    margin: 30px 0 30px;
    text-align: center;
}

.contact-form .form-info .field {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 25px;
    width: auto;
    align-items: center;
    justify-content: space-between;
}

.contact-form .form-info .field i {
    position: relative;
    margin-left: 30px;
    margin-top: 10px;
    top: -7px;
}

.contact-form .form-info .field input {
    position: relative;
    width: 100%;
    height: 45px;
    padding-left: 13px;

    border: 0;
    outline: 0;

    font-size: 18px;
    color: #8897A1;
}

hr {
    width: auto;
    margin: 0 26px 0 26px;
    border: 0;
    border-top: 1.75px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 17px;   
}

.contact-form .form-info textarea { 
    width: 400px;
    height: 200px;
    padding: 15px;
    margin: 20px 25px 0 25px;
    resize: none;
    display: block;

    box-sizing: border-box;
    border: 1px solid #DBDBDB;
    outline: 0;
    border-radius: 15px;

    font-size: 18px;
    text-align: left;
    color: #8897A1;
}

.contact-form .form-info .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.contact-form .form-info #resetButton {
    text-decoration: underline;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    
    font-weight: bold;
    font-size: 18px;
    color: rgba(0, 33, 53, 0.5);
}

.contact-form .form-info #submitButton {
    width: 188px;
    height: 50px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    cursor: pointer;

    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
}

.contact-form .form-info #submitButton:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.contact-form .form-info #resetButton:hover {
    color: var(--primary-color);
}