#info {
    background-color: var(--primary-color);
}

/* we are screen */

.we-are-screen {
    position: relative;
    display: flex;
    background: url(../assets/fading.svg) no-repeat center center, url(../assets/office.svg) no-repeat center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.we-are-screen h2 {
    font-size: 72px;
    font-weight: bold;
    color: white;
    text-align: center;
    max-width: 900px;
    width: 80%;
    filter: opacity(95%);
}

/* navbar */

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 18px 25px 18px 25px;
    background-color: var(--primary-color);
    max-width: 700px;
    border-radius: 0 0 60px 60px;
    z-index: 10;
}

nav a{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    transition: 200ms ease-in-out;
}

nav a:hover {
    transform: scale(1.1);
}

nav img {
    width: 27px;
    margin-right: 22px;
}
/* about us screen */
.about-us-screen-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1400px;
    z-index: 1;
background: radial-gradient(50% 50% at 50% 50%,
rgba(24, 24, 24, 0) 0%,
 rgba(11, 29, 40, 0.504687)
  53.12%, 
rgba(0, 33, 53, 0.95) 100%), rgba(0, 33, 53, 0.53);
}

    /* background: radial-gradient(50% 50% at 50% 50%,
    rgba(24, 24, 24, 0) 0%,
     rgba(11, 29, 40, 0.504687)
      53.12%, 
    rgba(0, 33, 53, 0.95) 100%), rgba(0, 33, 53, 0.53); */

.about-us-screen-image {
    height: 1400px;
    width: 100%;
    margin: 0 auto;

   
    /* width: 90%;
    max-width: 1400px;
    margin: 0 auto; */ 

    background-image: url("../assets/background-about-us.svg");
    background-size: 100%;
    z-index: -1;


}
.about-us-screen{
   /*  width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 128px;
    padding-left: 10%;
    padding-right: 10%; */
    z-index: 2;
    display: flex;
    flex-direction: column;

}

.about-us-screen-image .title{
    display: flex;
    width: 90%;
    margin: 45px auto;
}
.about-us-screen-image .title h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 113px;
    text-transform: uppercase;

    color: #FFFFFF;

    z-index: 2;
}
.about-us-screen-image p {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    color: #FFFFFF;

    z-index: 2;

}
.about-us-screen-image img {
    z-index: 2;
}
.rigth-conteiner {
    padding-left: 5%;
    display: flex;
    align-items: flex-start;

}
.rigth-conteiner .content{
    display: flex;
    flex-direction: column;
}
.rigth-conteiner .content .description{
    display: flex;
    position: relative;
    right: -35px;
}
.rigth-conteiner .content .description .arrow-left{
    flex-grow: 1;
}
.arrow-left{
    background-image: url('/public/assets/Arrow-left.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 250px;
    z-index: 0;
    margin-left: 24px;
}
.arrow-right{
    background-image: url('/public/assets/Arrow-right.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 50%;
    height: 100%;
    z-index: 1;
    margin-right: 24px;
}

.left-container{
    display: flex;
    position: relative;
    top:-350px;

}
.left-container .content{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.left-container .content .description{
    position: relative;
    left: -60px;
    top: -100px;
    height: 250px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;


}
/* pillars screen */

.pillars-screen {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background: url(../assets/fading2.svg) no-repeat center center, url(../assets/office2.svg) no-repeat center center;
    background-size: cover;
    color: white;
    overflow: hidden;
}

.pillars{
    margin: auto 0;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 620px;
    width: 80%;
}

.pillars > * {
    margin-top: 2vw;
    display: flex;
}

.pillars h3 {
    display: block;
    text-align: center;
    font-weight: lighter;
    margin: 0 0 0 35px;
    font-size: 48px;
}

.pillars img{
    align-items: center;
    margin: 0 auto;
}

.pillars p {
    line-height: 25px;
    padding-bottom: 1vw;
}

#green-circle {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    padding: 18px;
    border-radius: 50%;
    margin: auto 35px auto 0;
}

#quote {
    max-width: 550px;
    width: 100%;
}

#quote h4 {
    font-size: 300%;
    font-weight: bold;
    line-height: 60px;
    padding: 3.5vw;
    border: 2.4px white solid;
}