#info {
    background-color: var(--primary-color);
}

/* first screen */

.first-screen {
    position: relative;
    display: flex;
    background: url(../assets/fading.svg) no-repeat center center, url(../assets/office.svg) no-repeat center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.first-screen h2 {
    font-size: 72px;
    font-weight: bold;
    color: white;
    text-align: center;
    max-width: 900px;
    width: 80%;
    filter: opacity(95%);
}

/* navbar */

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 18px 25px 18px 25px;
    background-color: var(--primary-color);
    max-width: 700px;
    border-radius: 0 0 60px 60px;
    z-index: 10;
}

nav a{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    transition: 200ms ease-in-out;
}

nav a:hover {
    transform: scale(1.1);
}

nav img {
    width: 27px;
    margin-right: 22px;
}

/* second screen */

.second-screen {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background: url(../assets/fading2.svg) no-repeat center center, url(../assets/office2.svg) no-repeat center center;
    background-size: cover;
    color: white;
    overflow: hidden;
}

.pillars{
    margin: auto 0;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 620px;
    width: 80%;
}

.pillars > * {
    margin-top: 2vw;
    display: flex;
}

.pillars h3 {
    display: block;
    text-align: center;
    font-weight: lighter;
    margin: 0 0 0 35px;
    font-size: 48px;
}

.pillars img{
    align-items: center;
    margin: 0 auto;
}

.pillars p {
    line-height: 25px;
    padding-bottom: 1vw;
}

#green-circle {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    padding: 18px;
    border-radius: 50%;
    margin: auto 35px auto 0;
}

#quote {
    max-width: 550px;
    width: 100%;
}

#quote h4 {
    font-size: 300%;
    font-weight: bold;
    line-height: 60px;
    padding: 3.5vw;
    border: 2.4px white solid;
}