@media (max-width: 600px) {
    #wave:after,#wave:before {
    background-size: 150%;
    }

    #home-page .content .main {
    justify-content: center;
    }   
    #home-page .headline {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #home-page .headline a {
        width: 53px;
    }

    #home-page .headline h1 {
        margin-bottom: 20px;
        font-size: 55px;
        text-align: center;

    }
   
    #home-page .socialmedia {
        display: none;
    }
}

@media (max-width: 400px) {

    #home-page .headline h1 {
        font-size: 36pt;
    }


    body::after {
        content: "";
        position: fixed;
        background-color: var(--primary-color);
        top: 715px;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
}
@media (max-width: 325px) {
    #home-page{
        transform: scale(0.8);
    }
}