@media (min-width: 1280px) {
    #footer {
        background-size: 100vw;
    }
}

@media (max-width: 1280px) {
    .second-screen {
        justify-content: center;
        align-items: center;
    }

    .pillars > * {
        margin-top: 5vw;
    }

    .pillars h3 {
        margin: 0 auto;
    } 

    #quote {
        display: none;
    }

    #quote h4 {
        font-size: 200%;
        font-weight: bold;
        line-height: 6.5vh;
        padding: 3.5vw;
        border: 2.4px white solid;
    }
}

@media (max-width: 800px) {
    .headline h1 {
        font-size: 60px;
    }    
    
    nav {
        max-width: 520px;
    }

    nav img {
        width: 22px;
        margin-right: 16px;
    }

    #info .first-screen h2 {
        font-size: 40px;
    }

    #division {
        height: 3vh;
    }
}

@media (max-width: 600px) {
    #page-home .content {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10vh;
    }

    .headline {
        text-align: center;
        margin: 0 auto;
    }

    .headline h1 {
        text-align: center;
    }

    #page-home .content main {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        width: 100%;
    }

    .headline h1 {
        font-size: 55px;
    }

    .socialmedia {
        margin-top: 85px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    nav {
        max-width: 250px;
        padding: 20px;
        border-radius: 0 0 20px 20px;
    }

    nav a{
        font-size: 14px;
    }

    nav img {
        display: none;
    }

    #info .first-screen h2 {
        font-size: 35px;
        max-width: 300px;
    }

    .pillars {
        margin: 0 auto;
        width: 90%;
    }

    .pillars > * {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        margin: 10vw auto 0 auto;
        gap: 20px;
    }

    .pillars p {
        padding-bottom: 0;
    }

    #green-circle {
        margin: 0 auto;
    }
}

@media (max-width: 420px) {
    .headline h1 {
        font-size: 45px;
    }

    .socialmedia {
        margin-top: 90px;
    }

    .pillars h3 {
        font-size: 40px;
    }

    .pillars > * {
        margin: 5vw auto 0 auto;
        gap: 10px;
    }

    #green-circle {
        transform: scale(0.8);
    }
}

@media (max-width: 360px) {
    .headline h1 {
        font-size: 40px;
    }

    .socialmedia {
        margin-top: 85px;
    }

    .pillars {
        width: 80%;
    }

    .pillars > * {
        margin: 10vw auto 0 auto;
    }

    .pillars h3 {
        font-size: 30px;
    }

    #green-circle {
        display: none;
    }
}